@import "tailwindcss";

body {
  @apply bg-slate-800 text-white;
}

button {
  @apply duration-250;
}

.glowing::before {
  content: "";
  @apply border-2 border-sky-600 rounded-2xl block absolute left-0 top-0 right-0 bottom-0 shadow-[0_0_20px_5px_rgba(59,130,246,0.7)] animate-pulse pointer-events-none;
}

.card.voted {
  background: linear-gradient(
      45deg,
      #3993ff 12%,
      transparent 0,
      transparent 88%,
      #3993ff 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      #1a7bf2 0,
      #1a7bf2 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      #3993ff 0,
      #3993ff 63%,
      transparent 0
    ),
    #74b3ff;
  background-size: 17px 17px;
}

.fireworks > .before {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out backwards, 1s gravity ease-in backwards;
  -webkit-animation: 1s bang ease-out backwards, 1s gravity ease-in backwards;
  -o-animation: 1s bang ease-out backwards, 1s gravity ease-in backwards;
  -ms-animation: 1s bang ease-out backwards, 1s gravity ease-in backwards;
  animation: 1s bang ease-out backwards, 1s gravity ease-in backwards;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 139px -302.6666666667px hsl(193, 100%, 50%),
      -170px -412.6666666667px hsl(141, 100%, 50%),
      -228px -125.6666666667px hsl(1, 100%, 50%),
      177px -88.6666666667px hsl(256, 100%, 50%),
      -190px -237.6666666667px hsl(186, 100%, 50%),
      -100px -355.6666666667px hsl(218, 100%, 50%),
      -115px 12.3333333333px hsl(136, 100%, 50%),
      108px -380.6666666667px hsl(31, 100%, 50%),
      43px -91.6666666667px hsl(357, 100%, 50%),
      194px -370.6666666667px hsl(204, 100%, 50%),
      36px -48.6666666667px hsl(124, 100%, 50%),
      215px -250.6666666667px hsl(16, 100%, 50%),
      -105px -347.6666666667px hsl(249, 100%, 50%),
      59px -305.6666666667px hsl(247, 100%, 50%),
      192px 41.3333333333px hsl(281, 100%, 50%),
      -118px -156.6666666667px hsl(48, 100%, 50%),
      113px -316.6666666667px hsl(142, 100%, 50%),
      -157px -109.6666666667px hsl(0, 100%, 50%),
      -43px -18.6666666667px hsl(174, 100%, 50%),
      -92px -57.6666666667px hsl(323, 100%, 50%),
      164px -11.6666666667px hsl(166, 100%, 50%),
      -45px 65.3333333333px hsl(25, 100%, 50%),
      -101px -209.6666666667px hsl(1, 100%, 50%),
      48px 10.3333333333px hsl(163, 100%, 50%),
      169px 22.3333333333px hsl(118, 100%, 50%),
      0px -278.6666666667px hsl(33, 100%, 50%),
      -244px -358.6666666667px hsl(347, 100%, 50%),
      176px -265.6666666667px hsl(34, 100%, 50%),
      -36px -106.6666666667px hsl(167, 100%, 50%),
      -68px -391.6666666667px hsl(3, 100%, 50%),
      242px 46.3333333333px hsl(294, 100%, 50%),
      156px -173.6666666667px hsl(325, 100%, 50%),
      54px -365.6666666667px hsl(130, 100%, 50%),
      127px -13.6666666667px hsl(303, 100%, 50%),
      173px -290.6666666667px hsl(328, 100%, 50%),
      -181px -347.6666666667px hsl(109, 100%, 50%),
      73px -90.6666666667px hsl(311, 100%, 50%),
      130px -215.6666666667px hsl(145, 100%, 50%),
      -156px 48.3333333333px hsl(115, 100%, 50%),
      -19px -344.6666666667px hsl(112, 100%, 50%),
      93px -32.6666666667px hsl(53, 100%, 50%),
      43px -295.6666666667px hsl(22, 100%, 50%),
      20px -267.6666666667px hsl(194, 100%, 50%),
      -234px -288.6666666667px hsl(120, 100%, 50%),
      -121px -261.6666666667px hsl(154, 100%, 50%),
      -190px 73.3333333333px hsl(166, 100%, 50%),
      233px -199.6666666667px hsl(326, 100%, 50%),
      233px 47.3333333333px hsl(350, 100%, 50%),
      -216px -32.6666666667px hsl(5, 100%, 50%),
      204px 61.3333333333px hsl(209, 100%, 50%),
      -167px -208.6666666667px hsl(286, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 139px -302.6666666667px hsl(193, 100%, 50%),
      -170px -412.6666666667px hsl(141, 100%, 50%),
      -228px -125.6666666667px hsl(1, 100%, 50%),
      177px -88.6666666667px hsl(256, 100%, 50%),
      -190px -237.6666666667px hsl(186, 100%, 50%),
      -100px -355.6666666667px hsl(218, 100%, 50%),
      -115px 12.3333333333px hsl(136, 100%, 50%),
      108px -380.6666666667px hsl(31, 100%, 50%),
      43px -91.6666666667px hsl(357, 100%, 50%),
      194px -370.6666666667px hsl(204, 100%, 50%),
      36px -48.6666666667px hsl(124, 100%, 50%),
      215px -250.6666666667px hsl(16, 100%, 50%),
      -105px -347.6666666667px hsl(249, 100%, 50%),
      59px -305.6666666667px hsl(247, 100%, 50%),
      192px 41.3333333333px hsl(281, 100%, 50%),
      -118px -156.6666666667px hsl(48, 100%, 50%),
      113px -316.6666666667px hsl(142, 100%, 50%),
      -157px -109.6666666667px hsl(0, 100%, 50%),
      -43px -18.6666666667px hsl(174, 100%, 50%),
      -92px -57.6666666667px hsl(323, 100%, 50%),
      164px -11.6666666667px hsl(166, 100%, 50%),
      -45px 65.3333333333px hsl(25, 100%, 50%),
      -101px -209.6666666667px hsl(1, 100%, 50%),
      48px 10.3333333333px hsl(163, 100%, 50%),
      169px 22.3333333333px hsl(118, 100%, 50%),
      0px -278.6666666667px hsl(33, 100%, 50%),
      -244px -358.6666666667px hsl(347, 100%, 50%),
      176px -265.6666666667px hsl(34, 100%, 50%),
      -36px -106.6666666667px hsl(167, 100%, 50%),
      -68px -391.6666666667px hsl(3, 100%, 50%),
      242px 46.3333333333px hsl(294, 100%, 50%),
      156px -173.6666666667px hsl(325, 100%, 50%),
      54px -365.6666666667px hsl(130, 100%, 50%),
      127px -13.6666666667px hsl(303, 100%, 50%),
      173px -290.6666666667px hsl(328, 100%, 50%),
      -181px -347.6666666667px hsl(109, 100%, 50%),
      73px -90.6666666667px hsl(311, 100%, 50%),
      130px -215.6666666667px hsl(145, 100%, 50%),
      -156px 48.3333333333px hsl(115, 100%, 50%),
      -19px -344.6666666667px hsl(112, 100%, 50%),
      93px -32.6666666667px hsl(53, 100%, 50%),
      43px -295.6666666667px hsl(22, 100%, 50%),
      20px -267.6666666667px hsl(194, 100%, 50%),
      -234px -288.6666666667px hsl(120, 100%, 50%),
      -121px -261.6666666667px hsl(154, 100%, 50%),
      -190px 73.3333333333px hsl(166, 100%, 50%),
      233px -199.6666666667px hsl(326, 100%, 50%),
      233px 47.3333333333px hsl(350, 100%, 50%),
      -216px -32.6666666667px hsl(5, 100%, 50%),
      204px 61.3333333333px hsl(209, 100%, 50%),
      -167px -208.6666666667px hsl(286, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 139px -302.6666666667px hsl(193, 100%, 50%),
      -170px -412.6666666667px hsl(141, 100%, 50%),
      -228px -125.6666666667px hsl(1, 100%, 50%),
      177px -88.6666666667px hsl(256, 100%, 50%),
      -190px -237.6666666667px hsl(186, 100%, 50%),
      -100px -355.6666666667px hsl(218, 100%, 50%),
      -115px 12.3333333333px hsl(136, 100%, 50%),
      108px -380.6666666667px hsl(31, 100%, 50%),
      43px -91.6666666667px hsl(357, 100%, 50%),
      194px -370.6666666667px hsl(204, 100%, 50%),
      36px -48.6666666667px hsl(124, 100%, 50%),
      215px -250.6666666667px hsl(16, 100%, 50%),
      -105px -347.6666666667px hsl(249, 100%, 50%),
      59px -305.6666666667px hsl(247, 100%, 50%),
      192px 41.3333333333px hsl(281, 100%, 50%),
      -118px -156.6666666667px hsl(48, 100%, 50%),
      113px -316.6666666667px hsl(142, 100%, 50%),
      -157px -109.6666666667px hsl(0, 100%, 50%),
      -43px -18.6666666667px hsl(174, 100%, 50%),
      -92px -57.6666666667px hsl(323, 100%, 50%),
      164px -11.6666666667px hsl(166, 100%, 50%),
      -45px 65.3333333333px hsl(25, 100%, 50%),
      -101px -209.6666666667px hsl(1, 100%, 50%),
      48px 10.3333333333px hsl(163, 100%, 50%),
      169px 22.3333333333px hsl(118, 100%, 50%),
      0px -278.6666666667px hsl(33, 100%, 50%),
      -244px -358.6666666667px hsl(347, 100%, 50%),
      176px -265.6666666667px hsl(34, 100%, 50%),
      -36px -106.6666666667px hsl(167, 100%, 50%),
      -68px -391.6666666667px hsl(3, 100%, 50%),
      242px 46.3333333333px hsl(294, 100%, 50%),
      156px -173.6666666667px hsl(325, 100%, 50%),
      54px -365.6666666667px hsl(130, 100%, 50%),
      127px -13.6666666667px hsl(303, 100%, 50%),
      173px -290.6666666667px hsl(328, 100%, 50%),
      -181px -347.6666666667px hsl(109, 100%, 50%),
      73px -90.6666666667px hsl(311, 100%, 50%),
      130px -215.6666666667px hsl(145, 100%, 50%),
      -156px 48.3333333333px hsl(115, 100%, 50%),
      -19px -344.6666666667px hsl(112, 100%, 50%),
      93px -32.6666666667px hsl(53, 100%, 50%),
      43px -295.6666666667px hsl(22, 100%, 50%),
      20px -267.6666666667px hsl(194, 100%, 50%),
      -234px -288.6666666667px hsl(120, 100%, 50%),
      -121px -261.6666666667px hsl(154, 100%, 50%),
      -190px 73.3333333333px hsl(166, 100%, 50%),
      233px -199.6666666667px hsl(326, 100%, 50%),
      233px 47.3333333333px hsl(350, 100%, 50%),
      -216px -32.6666666667px hsl(5, 100%, 50%),
      204px 61.3333333333px hsl(209, 100%, 50%),
      -167px -208.6666666667px hsl(286, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 139px -302.6666666667px hsl(193, 100%, 50%),
      -170px -412.6666666667px hsl(141, 100%, 50%),
      -228px -125.6666666667px hsl(1, 100%, 50%),
      177px -88.6666666667px hsl(256, 100%, 50%),
      -190px -237.6666666667px hsl(186, 100%, 50%),
      -100px -355.6666666667px hsl(218, 100%, 50%),
      -115px 12.3333333333px hsl(136, 100%, 50%),
      108px -380.6666666667px hsl(31, 100%, 50%),
      43px -91.6666666667px hsl(357, 100%, 50%),
      194px -370.6666666667px hsl(204, 100%, 50%),
      36px -48.6666666667px hsl(124, 100%, 50%),
      215px -250.6666666667px hsl(16, 100%, 50%),
      -105px -347.6666666667px hsl(249, 100%, 50%),
      59px -305.6666666667px hsl(247, 100%, 50%),
      192px 41.3333333333px hsl(281, 100%, 50%),
      -118px -156.6666666667px hsl(48, 100%, 50%),
      113px -316.6666666667px hsl(142, 100%, 50%),
      -157px -109.6666666667px hsl(0, 100%, 50%),
      -43px -18.6666666667px hsl(174, 100%, 50%),
      -92px -57.6666666667px hsl(323, 100%, 50%),
      164px -11.6666666667px hsl(166, 100%, 50%),
      -45px 65.3333333333px hsl(25, 100%, 50%),
      -101px -209.6666666667px hsl(1, 100%, 50%),
      48px 10.3333333333px hsl(163, 100%, 50%),
      169px 22.3333333333px hsl(118, 100%, 50%),
      0px -278.6666666667px hsl(33, 100%, 50%),
      -244px -358.6666666667px hsl(347, 100%, 50%),
      176px -265.6666666667px hsl(34, 100%, 50%),
      -36px -106.6666666667px hsl(167, 100%, 50%),
      -68px -391.6666666667px hsl(3, 100%, 50%),
      242px 46.3333333333px hsl(294, 100%, 50%),
      156px -173.6666666667px hsl(325, 100%, 50%),
      54px -365.6666666667px hsl(130, 100%, 50%),
      127px -13.6666666667px hsl(303, 100%, 50%),
      173px -290.6666666667px hsl(328, 100%, 50%),
      -181px -347.6666666667px hsl(109, 100%, 50%),
      73px -90.6666666667px hsl(311, 100%, 50%),
      130px -215.6666666667px hsl(145, 100%, 50%),
      -156px 48.3333333333px hsl(115, 100%, 50%),
      -19px -344.6666666667px hsl(112, 100%, 50%),
      93px -32.6666666667px hsl(53, 100%, 50%),
      43px -295.6666666667px hsl(22, 100%, 50%),
      20px -267.6666666667px hsl(194, 100%, 50%),
      -234px -288.6666666667px hsl(120, 100%, 50%),
      -121px -261.6666666667px hsl(154, 100%, 50%),
      -190px 73.3333333333px hsl(166, 100%, 50%),
      233px -199.6666666667px hsl(326, 100%, 50%),
      233px 47.3333333333px hsl(350, 100%, 50%),
      -216px -32.6666666667px hsl(5, 100%, 50%),
      204px 61.3333333333px hsl(209, 100%, 50%),
      -167px -208.6666666667px hsl(286, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 139px -302.6666666667px hsl(193, 100%, 50%),
      -170px -412.6666666667px hsl(141, 100%, 50%),
      -228px -125.6666666667px hsl(1, 100%, 50%),
      177px -88.6666666667px hsl(256, 100%, 50%),
      -190px -237.6666666667px hsl(186, 100%, 50%),
      -100px -355.6666666667px hsl(218, 100%, 50%),
      -115px 12.3333333333px hsl(136, 100%, 50%),
      108px -380.6666666667px hsl(31, 100%, 50%),
      43px -91.6666666667px hsl(357, 100%, 50%),
      194px -370.6666666667px hsl(204, 100%, 50%),
      36px -48.6666666667px hsl(124, 100%, 50%),
      215px -250.6666666667px hsl(16, 100%, 50%),
      -105px -347.6666666667px hsl(249, 100%, 50%),
      59px -305.6666666667px hsl(247, 100%, 50%),
      192px 41.3333333333px hsl(281, 100%, 50%),
      -118px -156.6666666667px hsl(48, 100%, 50%),
      113px -316.6666666667px hsl(142, 100%, 50%),
      -157px -109.6666666667px hsl(0, 100%, 50%),
      -43px -18.6666666667px hsl(174, 100%, 50%),
      -92px -57.6666666667px hsl(323, 100%, 50%),
      164px -11.6666666667px hsl(166, 100%, 50%),
      -45px 65.3333333333px hsl(25, 100%, 50%),
      -101px -209.6666666667px hsl(1, 100%, 50%),
      48px 10.3333333333px hsl(163, 100%, 50%),
      169px 22.3333333333px hsl(118, 100%, 50%),
      0px -278.6666666667px hsl(33, 100%, 50%),
      -244px -358.6666666667px hsl(347, 100%, 50%),
      176px -265.6666666667px hsl(34, 100%, 50%),
      -36px -106.6666666667px hsl(167, 100%, 50%),
      -68px -391.6666666667px hsl(3, 100%, 50%),
      242px 46.3333333333px hsl(294, 100%, 50%),
      156px -173.6666666667px hsl(325, 100%, 50%),
      54px -365.6666666667px hsl(130, 100%, 50%),
      127px -13.6666666667px hsl(303, 100%, 50%),
      173px -290.6666666667px hsl(328, 100%, 50%),
      -181px -347.6666666667px hsl(109, 100%, 50%),
      73px -90.6666666667px hsl(311, 100%, 50%),
      130px -215.6666666667px hsl(145, 100%, 50%),
      -156px 48.3333333333px hsl(115, 100%, 50%),
      -19px -344.6666666667px hsl(112, 100%, 50%),
      93px -32.6666666667px hsl(53, 100%, 50%),
      43px -295.6666666667px hsl(22, 100%, 50%),
      20px -267.6666666667px hsl(194, 100%, 50%),
      -234px -288.6666666667px hsl(120, 100%, 50%),
      -121px -261.6666666667px hsl(154, 100%, 50%),
      -190px 73.3333333333px hsl(166, 100%, 50%),
      233px -199.6666666667px hsl(326, 100%, 50%),
      233px 47.3333333333px hsl(350, 100%, 50%),
      -216px -32.6666666667px hsl(5, 100%, 50%),
      204px 61.3333333333px hsl(209, 100%, 50%),
      -167px -208.6666666667px hsl(286, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
